{% extends "base.html" %}

{% block content %}
<div>
    
    <div class="flex flex-wrap items-center justify-between text-center">
        <a href="{% url 'components' %}" class="inline-flex items-center justify-start py-2 px-6 text-white font-semibold rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-white-500 hover:bg-white-700" style="color: black;">
            Back
        </a>
        <h1 class="text-2xl font-bold mx-auto">PCB</h1>
    </div>
    <div class="w-full max-w-md mx-auto mt-4">
        <form action="{% url 'search_pcb' %}" class="flex items-center justify-center">
            <input type="text" name="search" class="flex-grow border border-gray-300 rounded px-4 py-2 pl-10 pr-4 focus:outline-none focus:border-orange-500" placeholder="Search...">
            <button type="submit" class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded">Search</button>
        </form>
    </div>
    <div class="flex items-center gap-2" style="background-color: orange; width: 90px; border-radius: 8px; margin-left: 5px; border: 1px solid black;">
        <input type="button" id="filterByCase" onclick="toggleFilter()" class="bg-orange-500 text-white w-auto p-2 rounded cursor-pointer hidden">
        <label for="filterByCase" class="font-semibold" style="padding-left: 5px;">Reset Filter</label>
    </div>

    <div class="flex flex-wrap justify-between px-4 py-2 space-y-4 space-x-1">
        {% for i in pcb_info %}
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-4 h-350px bg-gray-300 shadow-md rounded-lg hover:bg-gray-200 transition duration-150 ease-in-out">
                <p class="mb-2">{{ i.name }}</p>
                <img src="{{ i.image.url }}" alt="photo pcb" class="w-full h-[350px] object-cover">
                <p class="mt-2">{{ i.price }} rub.</p>
                <a href="{% url 'pcb_detail_page' i.id %}" class="block text-center mt-2">Detail</a>
            </div>
        {% endfor %}
    </div>
</div>

<script>
function toggleFilter() {
    const checkbox = document.getElementById('filterByCase');
    if (checkbox.checked) {
        fetch('/set-filter-case/', {method: 'POST'})
           .then(response => response.text())
           .then(data => {
                console.log('Filter set successfully');
                location.reload();
            })
           .catch(error => console.error('Error setting filter:', error));
    } else {
        fetch('/reset-filter-case/', {method: 'POST'})
           .then(response => response.text())
           .then(data => {
                console.log('Filter reset successfully');
                location.reload();
            })
           .catch(error => console.error('Error resetting filter:', error));
    }
}
</script>
{% endblock %}